.navbar {
  height: 60px;
  background: linear-gradient(to right, #0f172a, #1e3a8a);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  color: white;
}

.left h3 {
  margin: 0;
}

.right {
  display: flex;
  align-items: center;
  gap: 18px;
}

.icon {
  cursor: pointer;
  transition: 0.3s ease;
}

.icon:hover {
  color: #60a5fa;
}
.profile-wrapper {
  position: relative;
}

.profile-menu {
  position: absolute;
  top: 40px;
  right: 0;
  width: 150px;
  background: white;
  color: black;
  border-radius: 8px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.2);
  overflow: hidden;
  z-index: 2000;
}

.profile-menu div {
  padding: 10px 14px;
  cursor: pointer;
  transition: 0.2s ease;
}

.profile-menu div:hover {
  background: #f1f5f9;
}